@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap');


*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: #333;
    --secondaryColor: #dadada;
    --alternativeColor: #a77649;
}

main{
    margin: 0px 50px 5px 50px;
    padding: 10px 30px 5px 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    background-color: var(--primaryColor);
    color: #bbbbbb;
}

.header h2{
    font-size: 16px;
    padding: 20px 10px 0px 30px;
    letter-spacing: 3px;
    font-family: 'Gothic A1', sans-serif;
}

.links{
    padding: 8px;
    padding-top: 20px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 10.5px;
}

.links>a{
    text-decoration: none;
    padding: 18px;
    color: #bbb;
    letter-spacing: 2px;
}

main{
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
}

main>h3{
    text-align: center;
    margin: 25px 0px 5px 0px;
    padding: 25px 0px 10px 0px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: 13px;
    padding: 10px 20px 0px 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.grid a{
    color: #000;
}

.g1{
    margin: 5px 10px;
    padding: 5px;
}

.g1>h4{
    text-align: center;
    padding: 10px;
}

.g1>p{
    text-align: center;
    padding: 5px 15px 0px 15px;
    font-size: 13px;
    word-spacing: 2px;
}

h2{
    text-align: center;
    margin-bottom: 25px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3);
    column-gap: 20px;
}

.container img{
    width: 455px;
}

.c-text{
    text-align: center;
    padding: 10px 30px 30px 10px;
    margin: 50px;
    margin-left: -70px;
}

.c-text h4{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.c-text a{
    color: #000;
}

.useful-links{
    padding: 100px 0px 20px 400px;
    font-size: 13px;
}

.useful-links ul{
    padding: 20px;
}

.useful-links li{
    padding: 5px;
}

.useful-links a{
    color: #000;
}

.useful-links h4{
    padding-left: 70px;
}

.FOM-link{
    text-align: center;
}

.FOM-link>a{
    text-decoration: none;
    border: 1px solid var(--alternativeColor);
    padding: 15px;
    font-size: 14px;
    color: #888;
}

.FOM-link>a:hover{
    text-decoration: none;
    border: 1px solid var(--alternativeColor);
    padding: 15px;
    font-size: 14px;
    color: #000;
    background-color: #ba76bd;
}


.fixed-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f17de7d2;
    float: right;
}

.fixed-btn img{
    width: 40px;
    margin: 7px 10px 5px 5px;
    padding: 3px;
}

.footer{
    padding: 40px 15px 35px 15px;
    background-color: var(--primaryColor);
    
}

.f-p{
    text-align: center;
    font-size: 11px;
    margin: 0px 0px 5px 0px;
    color: #fff;
}

.f-p p{
    padding: 5px;
}

.footer-p{
    display: flex;
    justify-content: space-between;
    color: #bbb;
}

p{
    color: #5a5a5a;
}